.div-menu .navbar-toggler, .div-menu a {
    color: black !important;
}
.div-menu .btn-primary{
  color: white !important;
  background-color: #0AD467 !important;
  border-color: #0AD467 !important;
}