.div-menu .navbar-toggler, .div-menu a {
    color: #0AD467 !important;
}
.div-menu .navbar-toggler, .div-menu .btn-primary{
  color: white !important;
}
@media screen and (max-width: 975px){
  .div-menu{
      background-color: transparent !important;
  }
}